*{
    margin:0;
    padding:0;

}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    text-justify: unset;
}
body{
    width:390px;
    padding:17px;
    border:none;
   
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(148, 145, 145);
     
}

img{
    width:100%;

}

.top_logo{
    width:100px;
    justify-content: center;
    display: flex;
    margin: auto;
    border:none;
    border-radius: 50%;
    outline: none;
    overflow: hidden;
}
.title{
    text-align: center;
    text-decoration: none;
    font-family: Open sans;
    padding:10px;
    font-weight: bold;
    font-size: 22px;
     
}

.title span{
    font-size: 17px;
    color:rgb(155, 150, 150);
    
}

.title_ui{
    text-decoration: none;
    text-align:center;
    font-family: Open sans;
    font-size:15px;
    font-weight: 300;
    padding:8px;
    margin-bottom: 10px;

}

.websitelink{
    margin:auto;
    padding: 5px;
    width:100%;
}

.websitelink a i{
    padding:5px;
    font-size:38px;
    margin:auto;
    padding-bottom: 10px;
    color:#1c95f5;
    
    display: inline-block;
    overflow: hidden;
    border:none;
    font-weight:700;
    width:35px;
    transition:all 0.5s;

    
    

}

.websitelink a:hover i{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
    color:orange;
}

 